:root {
  /* colors */

  --color-navy-950: #0e1323;
  --color-navy-900: #1c204b;
  --color-navy-800: #33397a;
  --color-navy-200: #bbc0ff;
  --color-orange-300: #ff8b64;
  --color-purple-700: #7335d2;
  --color-purple-600: #5747ea;
  --color-purple-500: #7078c9;
  --color-purple-400: #7335d2;
  --color-blue-300: #55c2e6;
  --color-pink-400: #ff5e7d;
  --color-green-400: #4bcf82;
  --color-yellow-300: #f1c75b;
  --color-gray-200: #d8d8d8;

  /* typo */
  --fs-p1: 5.6rem;
  --lh-p1: 6.6rem;
  --fs-p2: 4rem;
  --lh-p2: 4.7rem;
  --fs-p3: 3.2rem;
  --lh-p3: 3.8rem;
  --fs-p4: 2.4rem;
  --fs-p4: 2.8rem;
  --fs-p5: 1.8rem;
  --lh-p5: 2.1rem;
  --fs-p6: 1.5rem;
  --lh-p6: 1.8rem;

  /* space */
  --space-0: 0rem;
  --space-100: 0.8rem;
  --space-200: 1.6rem;
  --space-300: 2.4rem;
  --space-400: 3.2rem;
  --space-500: 4rem;
}

html {
  font-size: 62.5%;
}
body {
  background-color: var(--color-navy-950);
  display: flex;
  justify-content: center;
  min-height: 100vh;

  align-items: center;
}

/* btn */

/*card*/
.card-blue {
  background: linear-gradient(
    var(--color-blue-300) 70%,
    var(--color-navy-900) 30%
  );
}
.card-pink {
  background: linear-gradient(
    var(--color-pink-400) 70%,
    var(--color-navy-900) 30%
  );
}
.card-green {
  background: linear-gradient(
    var(--color-green-400) 70%,
    var(--color-navy-900) 30%
  );
}
.card-purple {
  background: linear-gradient(
    var(--color-purple-400) 70%,
    var(--color-navy-900) 30%
  );
}
.card-yellow {
  background: linear-gradient(
    var(--color-yellow-300) 70%,
    var(--color-navy-900) 30%
  );
}
.card-orange {
  background: linear-gradient(
    var(--color-orange-300) 70%,
    var(--color-navy-900) 30%
  );
}

.card {
  position: relative;
  overflow: hidden;

  border-radius: 1.5rem;
  color: white;
  padding-top: 4.5rem;
}

.card--icon {
  position: absolute;
  z-index: 1;
  right: var(--space-300);
  top: -1.1rem;
  transition: all 150ms ease-in;
  transform: translateY(+5px);
}

.card:hover .card--icon {
  transform: scale(1.13);
}

.btn:hover path {
  fill: white;
}
.card--content {
  position: relative;
  bottom: -2px;
  z-index: 10;
  background-color: var(--color-navy-900);
  border-radius: 1.5rem;
  padding: var(--space-400);
  transition: all 200ms ease-in;
}
.card--content:hover {
  background-color: var(--color-navy-800);
}
.content--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--space-100);
  transition: all 200ms;
}

.content--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: transparent;
  border: 0;
  width: 100%;
  color: inherit;
}

.card--title {
  font-size: var(--fs-p5);
  line-height: var(--lh-p5);
  font-weight: 500;
  transition: all 200ms;
}

.card--time {
  font-size: clamp(var(--fs-p3), 10vw, var(--fs-p1));
  line-height: clamp(var(--lh-p3), 10vw, var(--lh-p1));
  font-weight: 300;
  transition: all 200ms;
  margin-bottom: var(--space-100);
}
.card--detail {
  font-size: var(--fs-p6);
  line-height: var(--lh-p6);
  color: var(--color-navy-200);
  font-weight: 400;
}

@media screen and (min-width: 48rem) {
  .content--header {
    margin-bottom: var(--space-300);
  }

  .content--footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* time selection section */
.time--block {
  grid-column: 1/-1;
  background-color: var(--color-navy-900);
  transition: all 200ms;
  border-radius: 15px;
}
.user--profile {
  border: 3px solid white;
  border-radius: 100%;
  width: 7.8rem;
  height: 7.8rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.time--blocke__header {
  background-color: var(--color-purple-600);
  color: white;
  border-radius: 1.5rem;
  padding: var(--space-400);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 200ms;
}

.user--report {
  font-size: var(--fs-p6);
  font-weight: 400;
  color: var(--color-navy-200);
  line-height: var(--lh-p6);
}

.user--name {
  font-size: calc(var(--fs-p4) - 0.5rem);
  line-height: var(--lh-p4);
  font-weight: 300;
  transition: all 200ms;
}

.time--blocke__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: clamp(4rem, 12vw, 8rem);
  padding: var(--space-300);
  transition: all 200ms;
}

.set--time {
  background-color: transparent;
  border: 0;
  max-width: auto;
  color: var(--color-purple-500);
  transition: all 200ms;
  font-size: var(--fs-p5);
  line-height: var(--lh-p5);
  font-weight: 400;
  text-align: left;
}

.set--time:hover {
  color: var(--color-gray-200);
  transition: all 300ms;
}

.set--time:active {
  color: white;
}

.selected {
  color: white;
}
@media screen and (min-width: 48rem) {
  .user--name {
    font-size: clamp(var(--fs-p4), 3.2vw, var(--fs-p2));
    line-height: clamp(var(--lh-p4), 3.2vw, var(--lh-p2));
    font-weight: 300;
  }
  .time--blocke__header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-300);
  }
  .time--blocke__footer {
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
  }
  .set--time {
    cursor: pointer;
  }
}

@media screen and (min-width: 75rem) {
  .user--name {
    padding-bottom: clamp(6.2rem, 5vw, 9.2rem);
    font-size: var(--fs-p2);
    line-height: var(--lh-p2);
    max-width: 13.8rem;
  }
  .time--block {
    grid-column: auto;
    grid-row: 1/3;
  }
  .user--profile {
    margin-bottom: var(--space-500);
  }
  .time--blocke__header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }
  .time--blocke__footer {
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-300);
  }
}

/* dasgbord section */

.dasobrd--block {
  padding: 8.1rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--space-300);
}
@media screen and (min-width: 48rem) {
  .dasobrd--block {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 75rem) {
  .dasobrd--block {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* container */
.container {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
}
@media screen and (min-width: 48rem) {
  .container {
    max-width: 85vw;
  }
}
@media screen and (min-width: 75rem) {
  .container {
    max-width: 112rem;
  }
}
