:root {
  /* colors */

  --color-navy-950: #0e1323;
  --color-navy-900: #1c204b;
  --color-navy-800: #33397a;
  --color-navy-200: #bbc0ff;
  --color-orange-300: #ff8b64;
  --color-purple-700: #7335d2;
  --color-purple-600: #5747ea;
  --color-purple-500: #7078c9;
  --color-blue-300: #55c2e6;
  --color-pink-400: #ff5e7d;
  --color-green-400: #4bcf82;
  --color-yellow-300: #f1c75b;
  --color-gray-200: #d8d8d8;

  /* typo */
  --fs-p1: 5.6rem;
  --lh-p1: 6.6rem;
  --fs-p2: 4rem;
  --lh-p2: 4.7rem;
  --fs-p3: 3.2rem;
  --lh-p3: 3.8rem;
  --fs-p4: 2.4rem;
  --fs-p4: 2.8rem;
  --fs-p5: 1.8rem;
  --lh-p5: 2.1rem;
  --fs-p6: 1.5rem;
  --lh-p6: 1.8rem;

  /* space */
  --space-0: 0rem;
  --space-100: 0.8rem;
  --space-200: 1.6rem;
  --space-300: 2.4rem;
  --space-400: 3.2rem;
  --space-500: 4rem;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #55c2e6;
}

/* btn */

/*card*/
.card {
  position: relative;
  background-color: var(--color-orange-300);
  max-width: 25.5rem;
  border-radius: 1.5rem;
  color: white;
  padding-top: 4.5rem;
}

.card--icon {
  position: absolute;
  z-index: 1;
  right: var(--space-300);
  top: -1.1rem;
}
.btn:hover path {
  fill: white;
}
.card--content {
  position: relative;
  z-index: 10;
  background-color: var(--color-navy-900);
  border-radius: 1.5rem;
  padding: var(--space-400);
}
.card--content:hover {
  background-color: var(--color-navy-800);
}
.content--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-300);
}

.btn {
  background-color: transparent;
  border: 0;
  width: 100%;
  color: inherit;
}

.card--title {
  font-size: var(--fs-p5);
  line-height: var(--lh-p6);
  font-weight: 500;
}

.card--time {
  font-size: var(--fs-p1);
  line-height: var(--lh-p1);
  font-weight: 300;
  margin-bottom: var(--space-100);
}
.card--detail {
  font-size: var(--fs-p6);
  line-height: var(--lh-p6);
  color: var(--color-navy-200);
  font-weight: 400;
}

/* time selection section */
.time--block {
  max-width: 255px;
  background-color: var(--color-navy-900);
  border-radius: 1.5rem;
}
.user--profile {
  border: 3px solid white;
  border-radius: 100%;
  max-width: 7.8rem;
  margin-bottom: var(--space-500);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.time--blocke__header {
  background-color: var(--color-purple-600);
  color: white;
  border-radius: 1.5rem;
  padding: var(--space-400);
}

.user--report {
  font-size: var(--fs-p6);
  font-weight: 400;
  color: var(--color-navy-200);
  line-height: var(--lh-p6);
}

.user--name {
  font-size: var(--fs-p2);
  line-height: var(--lh-p2);
  font-weight: 300;
  padding-bottom: clamp(6.2rem, 5vw, 9.2rem);
}

.time--blocke__footer {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 2vw, 2.2rem);
  padding: var(--space-300);
}

.set--time {
  background-color: transparent;
  border: 0;
  max-width: auto;
  color: var(--color-purple-500);
  transition: all 200ms;
  font-size: var(--fs-p5);
  line-height: var(--lh-p5);
  font-weight: 400;
  text-align: left;
}

.set--time:hover {
  color: var(--color-gray-200);
  transition: all 300ms;
}

.set--time:active {
  color: white;
}
